body{
    background-color:rgb(207, 227, 235);
    font-family: 'Montserrat', Arial ;
    color: rgb(66, 66, 66);
    margin: 60px 60px 30px 60px;
}
.content {
    background-color: rgb(250, 249, 242);
    padding: 60px 160px;
    border-radius: 10px;
}
#cep{
    color:rgb(66, 66, 66);
}
input{
    font-family: 'Montserrat', Arial ;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(66, 66, 66);
    padding: 10px 10px;
    border: 1px solid rgb(148, 148, 148);
    color:rgb(114, 182, 209);
}
input:focus{
    border-color: rgb(114, 182, 209);
    outline: none !important;
}
button{
    border:none;
    color:white;
    background-color: rgb(114, 182, 209);
    padding: 10px 20px;
    font-family: 'Montserrat', Arial ;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(82, 153, 182);
    transition: 0.5s;
    color: white;
}
.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}
.search img {
    width: 250px;
}
.show{
    display: block;
    color: red;
}
.hide{
    display: none;
}
.response {
    display: flex;
    flex-direction: column;
}
label {
    margin: 30px 0px 10px 0px;
}
.response h2 {
    margin: 60px 0px 0px 0px;
    font-size: 22px;
}
.footer {
    font-size: 14px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: rgb(49, 138, 173);
}


@media (max-width: 768px)
{
    body{
       margin: 30px 10px 30px 10px;
    }
    .content {
        padding: 20px 10px;
    }
    button {
        margin-top: 15px;
    }
    .search img {
        margin-top: 30px;
    }
}